.Container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.Form {
    background: #1c2d40;
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.SearchInput {
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background: #f12c4c;;
    color: white;
    transition: 100ms linear;
}

.SearchInput::placeholder {
    color: white;
    text-align: center;
}

.SearchInput:focus {
    outline: none;
}

.SearchButton {
    width: 20%;
    margin-top: 2%;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: white;
    border: 2px solid white;
    transition: 100ms linear;
}

.SearchButton:hover {
    cursor: pointer;
    background: white;
    color: black;
}

.MoviesContainer {
    display: flex;
    flex-wrap: wrap;
    /* background: rgba(255, 0, 0, 0.135); */
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;
}

.MoviesContainer::-webkit-scrollbar {
    display: none;
}

.MovieCard {
    cursor: default;
    border-radius: 10px;
    background: #f12c4c;
    width: 8rem;
    max-height: 10rem;
    overflow-y: scroll;
    margin: 0.5rem;
    transition: 100ms linear;
}

.MovieCard:hover {
    max-height: 15rem;
}

.MovieCard::-webkit-scrollbar {
    display: none;
}

.MovieInfo {
    font-size: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
}

.MovieTitle {
    text-shadow: 1px 1px 1px black;
}